.DS_Store
.ruff_cache/
.coverage
accounts/
results-raw/
results-parsed/
accounts.db*
*.iml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
data/
data_media/
dist/
